<form method="post" action="/works/save" class="center">
    <p>
        <input type="hidden" name="workKey" value="{{ workKey }}" />
        <input type="hidden" name="action" value="{{ action }}" />
    </p>
    <h3>{{ workTitle }}</h3>
    <p>Type: {{ workType }}</p>
    <p>{{ workBody }}</p>
    <input class="btn btn-danger" type="submit" value="Delete"/>
</form>