<div class="center">
<h3>{{ workTitle }}</h3>
<p>{{ workType }}</p>
<p>{{ workBody }}</p>
<p> Key: {{ workKey }}</p>
<hr/>
<p>
    <span><a href="/works/edit?workKey={{ workKey }}">Edit Work</a></span>
    <span><a href="/works/delete?workKey={{ workKey }}">Delete Work</a></span>
</p>
</div>