<form method="post" action="/links/add" class="center">
    <input type="hidden" name="source" value="{{ srcWorkId }}" />
    <div class="m-auto">
        <select required disabled>
            <option value="{{srcWorkId}}">{{srcWorkTitle}}</option>
        </select>
        <label for="refWork">references</label>
        <select name="target" id="refWork" required>
            {{#each allWorks}}
                <option value="{{workKey}}">{{workTitle}}</option>
            {{/each}}
        </select>
    </div>
    <textarea rows="10" cols="40" name="body" placeholder="Details About the Link" required></textarea> <br/>
    <input class="btn btn-primary" type="submit" value="Create"/>
</form>