<table class="table table-hover table-striped" style="margin: auto; max-width: 500px; min-width: content-box">
    {{#if workList}}
    <thead>
    <tr>
        <th>Title</th>
        <th>Type</th>
        <th colspan="2">Actions</th>
    </tr>
    </thead>
    {{/if}}
    {{#each workList}}
        {{#if workTitle}}
            <tr>
                <td onclick="window.location='/works/view?workKey={{ workKey }}'">{{ workTitle }}</td>
                <td onclick="window.location='/works/view?workKey={{ workKey }}'">{{ workType }}</td>
                <td width="24px">
                    <div onclick="window.location='/works/edit?workKey={{ workKey }}'">
                        <i data-feather="edit"></i>
                    </div>
                </td>
                <td width="24px">
                    <div onclick="window.location='/works/delete?workKey={{ workKey }}'">
                        <i data-feather="trash-2"></i>
                    </div>
                </td>
            </tr>
        {{/if}}
    {{else}}
        <h2 class="center">There are no works stored</h2>
    {{/each}}
</table>